:global {
	html, body {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	#main {
		width: 100%;
		height: 100%;
	}
	
	#map {
		width: 100%;
		height: 90%;
    position: fixed;
	}

	@mixin transition-left($duration:1.0s){
    -webkit-transition : margin-left $duration ease;
    -moz-transition : margin-left $duration ease;
    -ms-transition : margin-left $duration ease;
    -o-transition : margin-left $duration ease;
    transition : margin-left $duration ease;
	}

	@mixin transition-right($duration:1.0s){
    -webkit-transition : margin-right $duration ease;
    -moz-transition : margin-right $duration ease;
    -ms-transition : margin-right $duration ease;
    -o-transition : margin-right $duration ease;
    transition : margin-right $duration ease;
	}

	#restaurants_list {
		width: 30%;
		height: 100%;
		float: left;
		background-color: white;
    position: relative;
		z-index: 10;
	}

	.list {
    margin-left: -30%;
		@include transition-left(0.5s);
	}

	.open {
    margin-left: 0;
		@include transition-left(0.5s);
	}
}
